<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979797177410-sr5qtkim8eq3jptdbdv373pq4ns6bvjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979797177410-sr5qtkim8eq3jptdbdv373pq4ns6bvjl</string>
	<key>API_KEY</key>
	<string>AIzaSyDFmB1LLQxjUBfz2QmkwTv8CGhvwDuJeqw</string>
	<key>GCM_SENDER_ID</key>
	<string>979797177410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.westbridge.gsvpn</string>
	<key>PROJECT_ID</key>
	<string>ios-app-9ad38</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-app-9ad38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979797177410:ios:6ccc405a90898809b0a9db</string>
	<key>DATABASE_URL</key>
	<string>https://ios-app-9ad38.firebaseio.com</string>
</dict>
</plist>